<div id="<%= dom_id spdm_user %>">
  <p>
    <strong>First name:</strong>
    <%= spdm_user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= spdm_user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= spdm_user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= spdm_user.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= spdm_user.twitter %>
  </p>

</div>
